/* =======================================
                Global CSS 
======================================= */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');/*Flowers*/
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');/*exo 2*/

/* global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* =======================================
                Header CSS 
======================================= */

nav {
    display : flex;
    justify-content: space-between;
}

nav h2 {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    align-items: center;
}

nav ul li a{
    text-decoration: none;
    color: Black;
    font-size: 1.25rem;
}

nav ul li a img {
    width: 1.25rem;
    height: 1.25rem;
}